.env.local
.DS_Store

# Keep folders empty except committed examples
input/*
!input/.gitkeep
!input/20260901发货i/
input/20260901发货i/*
!input/20260901发货i/example-in.jpg

output/*
!output/.gitkeep
!output/20260901发货/
output/20260901发货/*
!output/20260901发货/example-out.jpg
